{% extends 'base.html' %}



{% block content %}

<div class="container">
<h1>{{city.name}} shaxar haqida batafsil</h1>
<div class="row pb-0">
    <div class="col-md">
        <p>{{city.name}}</p>
    </div>
    <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

<!--detail page gorod-->
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'cities:home' %}" class="btn btn-primary btn-sm">Shaxarlar ro'yxati</a>
        <a href="{%url 'find_routes' %}" class="btn btn-outline-success btn-sm">Sayohat qilish</a>
    </div>
</div>


{% endblock %}



