{% extends "base.html" %}
{%load static%}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}


<div class="row">
    <div class="col-md-8 mx-auto">
{% if routes %}
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Yo`nalish qidiruv natijalari{% if routes|length != 1 %}{% endif %}
                 {{ cities.from_city.name }} dan {{ cities.to_city.name }} ga <a style="text-decoration:none;font-size:25px" href="{% url 'find_routes'%}">boshqattan qidiruv</a></h3>
        <br>
            {% for route in routes %}
                <form action="{% url 'add_routes' %}" method="post"> {% csrf_token %}
                    <input type="hidden" name="from_city" value="{{ cities.from_city.id }}">
                    <input type="hidden" name="to_city" value="{{ cities.to_city.id }}">
                    <input type="hidden" name="total_time" value="{{ route.total_time }}">
                    <input type="hidden" name="trains" value="{% for train in route.trains%}{{ train.id }},{% endfor %}">
                    {% if forloop.first %}
                        <h4>Manzilga borish uchun yo`llar ro`yxati {{routes|length}} ta</h4><br>
                    {% endif %}
                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Manzilga borish ucun ketadigan umumiy vaqt  <u>{{ route.total_time }} daqiqa</u></h5>
                    <div style=" border-left: 4px solid green;">
                        <table class="table" style="border-left: thin solid #A9A9A9;">
                          <thead>
                            <tr>
                              <th scope="col"><i class="fa fa-map-signs" aria-hidden="true"></i> </th>
                              <th scope="col">Manzilga borish uchun poyezdlar xaritasi</th>

                            </tr>
                          </thead>
                          <tbody>
                            {% for train in route.trains %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                                <td><i class="fa fa-train" aria-hidden="true"></i> <u>Poyezd {{ train.name }} </u> <b>{{ train.from_city.name }}</b> dan <b>{{ train.to_city.name }}</b> gacha boradi </td>

                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-success">Saqlash</button>
                </form>
        <br><br>
            {% endfor %}

    </div>
</div>

<!--form pastda qidiruv -->

{% else %}

<div class="row">
    <h3 style="margin-left:400px"><i class="fa fa-train" aria-hidden="true"></i> Sayohat qiling...</h3>
    <div class="col-md-4" style="margin-left:400px">

        <form method="POST" action="{% url 'find_routes' %}" style="margin-bottom:25px;">{% csrf_token %}
              {{form.as_p}}
            <input type="submit" value="qidiruv" class="btn btn-primary btn-sm">
        </form>
    </div>
</div>
{% endif %}
{% endblock content %}

